.Note{
   background-color: #f6f6f6; 
   padding: 20px;
   margin: 30px;
   border-radius: 14px;
   text-decoration: none;
}
.date{
    color: #bfbfbf;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.NoteHead{
color: #3a3a3a;
font-weight: bold;
}
.NoteContent{
color:#8d8d8d ;

}